.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
}

.color-picker {
    text-align: center;
    color: white;
}

.drawing-board {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
}